In [26]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [23]:
obs_visit = pd.read_csv('Data/obs_visit.csv', parse_dates= ['observed_on'])
obs_visit.head()

,Park,observed_on,mammal_count,num_mammals_observed,Alces alces,Antilocapra americana,Bison bison,Ursus americanus,Ursus arctos,Cervus canadensis,...,Odocoileus hemionus,ParkType,Region,State,RecreationVisits,ConcessionerLodging,ConcessionerCamping,TentCampers,RVCampers,Backcountry
0,Acadia NP,2014-06-01,1,1,0,0,0,0,0,0,...,0,National Park,Northeast,ME,338845,0,0,19848,4761,285
1,Acadia NP,2014-07-01,1,1,0,0,0,0,0,0,...,0,National Park,Northeast,ME,561073,0,0,35091,8349,341
2,Acadia NP,2014-08-01,1,1,0,0,0,0,0,0,...,0,National Park,Northeast,ME,638152,0,0,36438,8394,285
3,Acadia NP,2015-10-01,1,1,0,0,0,0,0,0,...,0,National Park,Northeast,ME,344362,0,0,8067,2481,84
4,Acadia NP,2015-11-01,1,1,0,0,0,0,0,0,...,0,National Park,Northeast,ME,48912,0,0,0,0,0

In [24]:
obs_visit['observed_on'] = obs_visit['observed_on'].dt.strftime('%Y-%m')
obs_visit['Month'] = pd.DatetimeIndex(obs_visit['observed_on']).month.astype('category')
obs_visit = obs_visit.set_index(['Park', 'observed_on'])
obs_visit.head()

                       mammal_count  num_mammals_observed  Alces alces  \
Park      observed_on
Acadia NP 2014-06                 1                     1            0
          2014-07                 1                     1            0
          2014-08                 1                     1            0
          2015-10                 1                     1            0
          2015-11                 1                     1            0

                       Antilocapra americana  Bison bison  Ursus americanus  \
Park      observed_on
Acadia NP 2014-06                          0            0                 0
          2014-07                          0            0                 0
          2014-08                          0            0                 0
          2015-10                          0            0                 0
          2015-11                          0            0                 0

                       Ursus arctos  Cervus canadensis  Canis lupus  \
Park      observed_on
Acadia NP 2014-06                 0                  0            0
          2014-07                 0                  0            0
          2014-08                 0                  0            0
          2015-10                 0                  0            0
          2015-11                 0                  0            0

                       Procyon lotor  ...       ParkType      Region State  \
Park      observed_on                 ...
Acadia NP 2014-06                  0  ...  National Park  Northeast     ME
          2014-07                  0  ...  National Park  Northeast     ME
          2014-08                  0  ...  National Park  Northeast     ME
          2015-10                  0  ...  National Park  Northeast     ME
          2015-11                  0  ...  National Park  Northeast     ME

                      RecreationVisits ConcessionerLodging  \
Park      observed_on
Acadia NP 2014-06               338845                   0
          2014-07               561073                   0
          2014-08               638152                   0
          2015-10               344362                   0
          2015-11                48912                   0

                       ConcessionerCamping  TentCampers  RVCampers  \
Park      observed_on
Acadia NP 2014-06                        0        19848       4761
          2014-07                        0        35091       8349
          2014-08                        0        36438       8394
          2015-10                        0         8067       2481
          2015-11                        0            0          0

                       Backcountry  Month
Park      observed_on
Acadia NP 2014-06              285      6
          2014-07              341      7
          2014-08              285      8
          2015-10               84     10
          2015-11                0     11

[5 rows x 22 columns]

In [25]:
obs_visit.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1644 entries, ('Acadia NP', '2014-06') to ('Zion NP', '2019-12')
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   mammal_count            1644 non-null   int64
 1   num_mammals_observed    1644 non-null   int64
 2   Alces alces             1644 non-null   int64
 3   Antilocapra americana   1644 non-null   int64
 4   Bison bison             1644 non-null   int64
 5   Ursus americanus        1644 non-null   int64
 6   Ursus arctos            1644 non-null   int64
 7   Cervus canadensis       1644 non-null   int64
 8   Canis lupus             1644 non-null   int64
 9   Procyon lotor           1644 non-null   int64
 10  Odocoileus virginianus  1644 non-null   int64
 11  Odocoileus hemionus     1644 non-null   int64
 12  ParkType                1644 non-null   object
 13  Region                  1644 non-null   object
 14  State                   1644 non-null   object
 15  RecreationVisits        1644 non-null   int64
 16  ConcessionerLodging     1644 non-null   int64
 17  ConcessionerCamping     1644 non-null   int64
 18  TentCampers             1644 non-null   int64
 19  RVCampers               1644 non-null   int64
 20  Backcountry             1644 non-null   int64
 21  Month                   1644 non-null   category
dtypes: category(1), int64(18), object(3)
memory usage: 284.3+ KB

In [30]:
X = obs_visit.drop(['RecreationVisits','ParkType'], axis = 1)
y = obs_visit['RecreationVisits']

In [32]:
X = pd.get_dummies(X)
X.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1644 entries, ('Acadia NP', '2014-06') to ('Zion NP', '2019-12')
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   mammal_count            1644 non-null   int64
 1   num_mammals_observed    1644 non-null   int64
 2   Alces alces             1644 non-null   int64
 3   Antilocapra americana   1644 non-null   int64
 4   Bison bison             1644 non-null   int64
 5   Ursus americanus        1644 non-null   int64
 6   Ursus arctos            1644 non-null   int64
 7   Cervus canadensis       1644 non-null   int64
 8   Canis lupus             1644 non-null   int64
 9   Procyon lotor           1644 non-null   int64
 10  Odocoileus virginianus  1644 non-null   int64
 11  Odocoileus hemionus     1644 non-null   int64
 12  ConcessionerLodging     1644 non-null   int64
 13  ConcessionerCamping     1644 non-null   int64
 14  TentCampers             1644 non-null   int64
 15  RVCampers               1644 non-null   int64
 16  Backcountry             1644 non-null   int64
 17  Region_Alaska           1644 non-null   uint8
 18  Region_Intermountain    1644 non-null   uint8
 19  Region_Midwest          1644 non-null   uint8
 20  Region_Northeast        1644 non-null   uint8
 21  Region_Pacific West     1644 non-null   uint8
 22  Region_Pacific West     1644 non-null   uint8
 23  Region_Southeast        1644 non-null   uint8
 24  State_AK                1644 non-null   uint8
 25  State_AZ                1644 non-null   uint8
 26  State_CA                1644 non-null   uint8
 27  State_CO                1644 non-null   uint8
 28  State_FL                1644 non-null   uint8
 29  State_KY                1644 non-null   uint8
 30  State_ME                1644 non-null   uint8
 31  State_MT                1644 non-null   uint8
 32  State_ND                1644 non-null   uint8
 33  State_NV                1644 non-null   uint8
 34  State_OH                1644 non-null   uint8
 35  State_OR                1644 non-null   uint8
 36  State_SD                1644 non-null   uint8
 37  State_TN                1644 non-null   uint8
 38  State_TX                1644 non-null   uint8
 39  State_UT                1644 non-null   uint8
 40  State_VA                1644 non-null   uint8
 41  State_WA                1644 non-null   uint8
 42  State_WY                1644 non-null   uint8
 43  Month_1                 1644 non-null   uint8
 44  Month_2                 1644 non-null   uint8
 45  Month_3                 1644 non-null   uint8
 46  Month_4                 1644 non-null   uint8
 47  Month_5                 1644 non-null   uint8
 48  Month_6                 1644 non-null   uint8
 49  Month_7                 1644 non-null   uint8
 50  Month_8                 1644 non-null   uint8
 51  Month_9                 1644 non-null   uint8
 52  Month_10                1644 non-null   uint8
 53  Month_11                1644 non-null   uint8
 54  Month_12                1644 non-null   uint8
dtypes: int64(17), uint8(38)
memory usage: 291.9+ KB

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=300, random_state = 1,n_jobs=-1)
model_res = clf.fit(X_train_scaled, y_train)
y_pred = model_res.predict(X_test_scaled)
y_pred_prob = model_res.predict_proba(X_test_scaled)
lr_probs = y_pred_prob[:,1]
ac = accuracy_score(y_test, y_pred)

f1 = f1_score(y_test, y_pred, average='weighted')
cm = confusion_matrix(y_test, y_pred)

print('Random Forest: Accuracy=%.3f' % (ac))

print('Random Forest: f1-score=%.3f' % (f1))