In [99]:
import pandas as pd
from collections import defaultdict
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np

In [100]:
#Mammal observations from iNaturalist search "National Park"
observations = pd.read_csv('observations-141356.csv', parse_dates = [2])

In [101]:
observation = observations.drop(['id', 'observed_on_string', 'time_observed_at', 'time_zone', 'quality_grade','description', 'place_town_name','species_guess','taxon_id' ], axis= 1)

In [102]:
observation['place_country_name'].unique()

array(['United States', nan, 'Argentina'], dtype=object)

In [103]:
print(observation[observation['place_country_name'].isnull()]['place_guess'].unique())

['Virgin Islands National Park, Cruz Bay, VI, US'
 'Channel Islands National Park, Channel Islands, US-CA, US'
 'Virgin Islands National Park, St John, VI, US'
 'Virgin Islands National Park, Coral Bay, VI, US'
 'Channel Islands National Park, Channel Islands, Santa Barbara County, US-CA, US'
 'Sequoia and Kings Canyon National Parks, US-CA, US'
 'Virgin Islands National Park, St. John, United States Virgin Islands, US'
 'Jaime Benitez National Park, San Juan, PR, US']

In [104]:
print(observation[observation['place_country_name']== 'Argentina'])

      observed_on                                        place_guess  \
6518   2010-08-06  Tierra del Fuego National Park, AR-TF-US, AR-T...
6587   2019-04-28  Tierra del Fuego National Park, AR-TF-US, AR-T...
6588   2019-04-28  Tierra del Fuego National Park, AR-TF-US, AR-T...
12781  2020-07-18  Tierra del Fuego National Park, AR-TF-US, AR-T...

        latitude  longitude place_county_name  place_state_name  \
6518  -54.850688 -68.589061           Ushuaia  Tierra del Fuego
6587  -54.859342 -68.565695           Ushuaia  Tierra del Fuego
6588  -54.859322 -68.564183           Ushuaia  Tierra del Fuego
12781 -54.808661 -68.595557           Ushuaia  Tierra del Fuego

      place_country_name              scientific_name        common_name  \
6518           Argentina  Lycalopex culpaeus lycoides     Fuegian Culpeo
6587           Argentina            Castor canadensis    American Beaver
6588           Argentina            Castor canadensis    American Beaver
12781          Argentina           Abrothrix olivacea  Olive Grass Mouse

      iconic_taxon_name
6518           Mammalia
6587           Mammalia
6588           Mammalia
12781          Mammalia

In [105]:
observation = observation.drop(observation[observation['place_country_name']== 'Argentina'].index)

In [64]:
observation.head()

,observed_on,place_guess,latitude,longitude,place_county_name,place_state_name,place_country_name,scientific_name,common_name,iconic_taxon_name
0,2008-08-08,"Yellowstone National Park, Park County, US-WY, US",44.811585,-110.481333,Park,Wyoming,United States,Bison bison,American Bison,Mammalia
1,2009-05-14,"Everglades National Park, Monroe County, US-FL...",25.153938,-80.851790,Monroe,Florida,United States,Trichechus manatus,West Indian Manatee,Mammalia
2,2009-06-08,"Kings Canyon/Sequoia National Park, NV, US",36.489655,-118.779289,Tulare,California,United States,Odocoileus hemionus californicus,California Mule Deer,Mammalia
3,2009-06-08,"Kings Canyon/Sequoia National Park, NV, US",36.520012,-118.795425,Tulare,California,United States,Otospermophilus beecheyi,California Ground Squirrel,Mammalia
4,2010-04-11,"Kings Canyon/Sequoia National Park, NV, US",36.524426,-118.751480,Tulare,California,United States,Otospermophilus beecheyi,California Ground Squirrel,Mammalia

In [106]:
place_guess = observations.filter(['place_guess', 'place_state_name'], axis = 1)

In [107]:
place_guess1 = place_guess.drop_duplicates(ignore_index = True)

In [108]:
place_guess3 = pd.DataFrame(place_guess1.place_guess.str.split(',', expand= True))

In [109]:
place_guess5 = place_guess1.join(place_guess3)
place_guess5.rename(columns= {0:'c0', 1 : 'c1', 2:'c2', 3: 'c3', 4:'c4', 5: 'c5', 6:'c6'}, inplace= True)

In [110]:
place_guess5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 737 entries, 0 to 736
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   place_guess       737 non-null    object
 1   place_state_name  734 non-null    object
 2   c0                737 non-null    object
 3   c1                737 non-null    object
 4   c2                736 non-null    object
 5   c3                698 non-null    object
 6   c4                105 non-null    object
 7   c5                23 non-null     object
 8   c6                1 non-null      object
dtypes: object(9)
memory usage: 51.9+ KB

In [111]:
place_guess5.loc[place_guess5['c0'].str.contains('National Park'), 'park'] = place_guess5['c0']

In [112]:
place_guess5['c1'].fillna('None', inplace = True)
place_guess5.loc[place_guess5['c1'].str.contains('National Park'), 'park'] = place_guess5['c1']
place_guess5.head()

,place_guess,place_state_name,c0,c1,c2,c3,c4,c5,c6,park
0,"Yellowstone National Park, Park County, US-WY, US",Wyoming,Yellowstone National Park,Park County,US-WY,US,None,None,None,Yellowstone National Park
1,"Everglades National Park, Monroe County, US-FL...",Florida,Everglades National Park,Monroe County,US-FL,US,None,None,None,Everglades National Park
2,"Kings Canyon/Sequoia National Park, NV, US",California,Kings Canyon/Sequoia National Park,NV,US,None,None,None,None,Kings Canyon/Sequoia National Park
3,"Antietam Battlefield National Park, MD, US",Maryland,Antietam Battlefield National Park,MD,US,None,None,None,None,Antietam Battlefield National Park
4,"Yellowstone National Park, US",Wyoming,Yellowstone National Park,US,None,None,None,None,None,Yellowstone National Park

In [113]:
place_guess5['c2'].fillna('None', inplace = True)
place_guess5.loc[place_guess5['c2'].str.contains('National Park'), 'park'] = place_guess5['c2']
place_guess5.head()

,place_guess,place_state_name,c0,c1,c2,c3,c4,c5,c6,park
0,"Yellowstone National Park, Park County, US-WY, US",Wyoming,Yellowstone National Park,Park County,US-WY,US,None,None,None,Yellowstone National Park
1,"Everglades National Park, Monroe County, US-FL...",Florida,Everglades National Park,Monroe County,US-FL,US,None,None,None,Everglades National Park
2,"Kings Canyon/Sequoia National Park, NV, US",California,Kings Canyon/Sequoia National Park,NV,US,None,None,None,None,Kings Canyon/Sequoia National Park
3,"Antietam Battlefield National Park, MD, US",Maryland,Antietam Battlefield National Park,MD,US,None,None,None,None,Antietam Battlefield National Park
4,"Yellowstone National Park, US",Wyoming,Yellowstone National Park,US,None,None,None,None,None,Yellowstone National Park

In [114]:
place_guess5['c3'].fillna('None', inplace = True)
place_guess5.loc[place_guess5['c3'].str.contains('National Park'), 'park'] = place_guess5['c3']
place_guess5.tail()

,place_guess,place_state_name,c0,c1,c2,c3,c4,c5,c6,park
732,Appomattox Court House National Historical Par...,Virginia,Appomattox Court House National Historical Park,Appomattox,VA,US,None,None,None,NaN
733,"Glacier Point, Yosemite National Park, CA, US",California,Glacier Point,Yosemite National Park,CA,US,None,None,None,Yosemite National Park
734,Palo Alto Battlefield National Historical Park...,Texas,Palo Alto Battlefield National Historical Park,Brownsville,TX,US,None,None,None,NaN
735,"Lyndon B. Johnson National Historical Park, Jo...",Texas,Lyndon B. Johnson National Historical Park,Johnson City,TX,US,None,None,None,NaN
736,"Steptoe Butte National Park, Colfax, WA, US",Washington,Steptoe Butte National Park,Colfax,WA,US,None,None,None,Steptoe Butte National Park

In [115]:
place_guess5['c4'].fillna('None', inplace = True)
place_guess5.loc[place_guess5['c4'].str.contains('National Park'), 'park'] = place_guess5['c4']
place_guess5.head()

,place_guess,place_state_name,c0,c1,c2,c3,c4,c5,c6,park
0,"Yellowstone National Park, Park County, US-WY, US",Wyoming,Yellowstone National Park,Park County,US-WY,US,None,None,None,Yellowstone National Park
1,"Everglades National Park, Monroe County, US-FL...",Florida,Everglades National Park,Monroe County,US-FL,US,None,None,None,Everglades National Park
2,"Kings Canyon/Sequoia National Park, NV, US",California,Kings Canyon/Sequoia National Park,NV,US,None,None,None,None,Kings Canyon/Sequoia National Park
3,"Antietam Battlefield National Park, MD, US",Maryland,Antietam Battlefield National Park,MD,US,None,None,None,None,Antietam Battlefield National Park
4,"Yellowstone National Park, US",Wyoming,Yellowstone National Park,US,None,None,None,None,None,Yellowstone National Park

In [79]:
place_guess5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 737 entries, 0 to 736
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   place_guess       737 non-null    object
 1   place_state_name  734 non-null    object
 2   c0                737 non-null    object
 3   c1                737 non-null    object
 4   c2                737 non-null    object
 5   c3                737 non-null    object
 6   c4                737 non-null    object
 7   c5                23 non-null     object
 8   c6                1 non-null      object
 9   park              570 non-null    object
dtypes: object(10)
memory usage: 57.7+ KB

In [116]:
place_guess5.park.unique()

array(['Yellowstone National Park', 'Everglades National Park',
       'Kings Canyon/Sequoia National Park',
       'Antietam Battlefield National Park', 'Death Valley National Park',
       'Grand Teton National Park', ' Yellowstone National Park',
       ' Mount Rainier National Park', 'Redwood National Park',
       'Channel Islands National Park', 'Denali National Park',
       ' Grand Canyon National Park', 'Mount Rainier National Park',
       'Yosemite National Park', ' Rocky Mountain National Park', nan,
       ' Sequoia and Kings Canyon National Parks',
       'Cuyahoga Valley National Park', ' Olympic National Park',
       ' North Cascades National Park', 'Glacier National Park',
       ' Glacier National Park', ' Theodore Roosevelt National Park',
       'Glacier Bay National Park', 'Shenandoah National Park',
       'Badlands National Park', 'Big Bend National Park',
       'Theodore Roosevelt National Park South Unit',
       ' Grand Teton National Park', ' Big Bend National Park',
       ' Yosemite National Park', 'Bryce Canyon National Park',
       'Kenai Fjords National Park', 'Joshua Tree National Park',
       'enali National Park', 'Wind Cave National Park',
       ' Katmai National Park', 'Katmai National Park',
       'Sequoia National Park', 'Saguaro National Park',
       'Pinnacles National Park', ' Sequoia National Park',
       'Grand Canyon National Park',
       ' Great Smoky Mountains National Park', 'Acadia National Park',
       'Denali National Park and Preserve',
       'North Cascades National Park Service Complex',
       'Zion National Park',
       ' North Cascades National Park Service Complex',
       'Petrified Forest National Park', ' Denali National Park',
       'Glacier Bay National Park and Preserve', 'Arches National Park',
       ' Saguaro National Park', 'Canyonlands National Park',
       'Hawaii Volcanoes National Park', 'Rocky Mountain National Park',
       ' Crater Lake National Park', 'Olympic National Park',
       'Wrangell-St. Elias National Park', ' Pinnacles National Park',
       ' Shenandoah National Park', 'Mesa Verde National Park',
       'Gates of the Arctic National Park', ' Kenai Fjords National Park',
       '65–79 Zion National Park', 'Great Smoky Mountains National Park',
       ' Death Valley National Park',
       'Gates of the Arctic National Park and Preserve',
       'Biscayne National Park', ' Petrified Forest National Park',
       'Piscataway National Park',
       'Theodore Roosevelt National Park - North Unit',
       ' Lassen Volcanic National Park', ' Hot Springs National Park',
       'Kings Canyon National Park', ' Acadia National Park',
       'Great Basin National Park', 'Isle Royale National Park',
       'Black Canyon of the Gunnison National Park',
       'Wolf Trap Farm Park National Park', 'Mammoth Cave National Park',
       'Crater Lake National Park', 'Virgin Islands National Park',
       ' Great Basin National Park', 'Katmai National Park and Preserve',
       'Congaree National Park', 'Guadalupe Mountains National Park',
       'Capitol Reef National Park', ' Everglades National Park',
       ' Redwood National Park', 'Lassen Volcanic National Park',
       'Carlsbad Caverns National Park', ' Jr. National Park',
       'Great Sand Dunes National Park and Preserve',
       'North Cascades National Park', '281 Zion National Park',
       'Grand Canyon National Park South Rim',
       'Saguaro National Park East - Rincon Mountain District',
       'Glacier National Park Glacier',
       'Wolf Trap National Park for the Performing Arts',
       'Hawai‘i Volcanoes National Park', '205 Zion National Park',
       'Theodore Roosevelt National Park', 'Hot Springs National Park',
       'Everglades National Park Lakes', '95 Zion National Park',
       'Sequoia and Kings Canyon National Parks',
       'Voyageurs National Park', '101–111 Great Basin National Park',
       'Gates of the Arctic National Park & Preserve',
       'Sequoia & Kings Canyon National Park', 'Lake Clark National Park',
       'Wrangell-St Elias National Park & Preserve',
       'Saguaro National Park - Rincon Mountain District (East)',
       'Indiana Dunes National Park', 'Tierra del Fuego National Park',
       'Haleakalā National Park', 'Kenai Fiords National Park',
       'Great Sand Dunes National Park & Preserve Colorado',
       ' Channel Islands National Park', 'Kobuk Valley National Park',
       'Grand Teton National Park Pond',
       'Lake Clark National Park and Preserve', ' National Park',
       'Saguaro National Park West', 'Katmai National Park & Preserve',
       'Saguaro National Park - Tucson Mountain District (West)',
       'Glacier Bay National Park & Preserve',
       ' Great Sand Dunes National Park',
       'Great Sand Dunes National Park',
       'Denali National Park & Preserve',
       'Rocky Mountain National Park Administration Building',
       'US National Park Rd', 'White Sands National Park',
       'Jaime Benitez National Park', 'Steptoe Butte National Park'],
      dtype=object)

In [255]:
#place_guess6 = place_guess5.drop(['c0', 'c1', 'c2', 'c3', 'c4', 'c5','c6'], axis = 1)
place_guess6 = place_guess5

In [256]:
place_guess6['park'] = place_guess6.park.str.strip('-1234567890')
place_guess6['park'] = place_guess6.park.str.strip('–11179')

In [257]:
place_guess6['park'].fillna('None', inplace = True)
place_guess6.loc[place_guess6['park'].str.contains('enali'), 'park'] = 'Denali National Park'

In [258]:
# not a NP place_guess6.loc[place_guess6['park'].str.contains('Butte National Park'), 'park'] = 'Butte National Park'
place_guess6.loc[place_guess6['park'].str.contains('Theodore Roosevelt National Park'), 'park'] = 'Theodore Roosevelt National Park'
place_guess6.loc[place_guess6['park'].str.contains('Grand Canyon National'), 'park'] = 'Grand Canyon National Park'
place_guess6.loc[place_guess6['park'].str.contains('Saguaro National Park'), 'park'] = 'Saguaro National Park'
place_guess6.loc[place_guess6['park'].str.contains('North Cascades National Park'), 'park'] = 'North Cascades National Park'
place_guess6.loc[place_guess6['park'].str.contains('Rocky Mountain National Park'), 'park'] = 'Rocky Mountain National Park'

In [259]:
place_guess6.loc[place_guess6['park'].str.contains('Everglades National Park'), 'park'] = 'Everglades National Park'
place_guess6.loc[place_guess6['park'].str.contains('Glacier National Park'), 'park'] = 'Glacier National Park'
place_guess6.loc[place_guess6['park'].str.contains('Jr. National Park'), 'park'] = 'Yellowstone National Park'
place_guess6.loc[place_guess6['park'].str.contains('Sequoia National Park'), 'park'] = 'Sequoia and Kings Canyon National Park'
place_guess6.loc[place_guess6['park'].str.contains('Kings Canyon National Park'), 'park'] = 'Sequoia and Kings Canyon National Park'
place_guess6.loc[place_guess6['park'].str.contains('Great Sand Dunes National Park'), 'park'] = 'Great Sand Dunes National Park'
place_guess6.loc[place_guess6['park'].str.contains('Haleakalā'), 'park'] = 'Haleakala National Park'
place_guess6.loc[place_guess6['park'].str.contains('Hawai‘i'), 'park'] = 'Hawaii Volcanoes National Park'
place_guess6.loc[place_guess6['park'].str.contains('Wrangell'), 'park'] = 'Wrangell-St. Elias National Park'
place_guess6.loc[place_guess6['park'].str.contains('Kenai'), 'park'] = 'Kenai Fjords National Park'
place_guess6.loc[place_guess6['park'].str.contains('Gunnison'), 'park'] = 'Black Canyon of the Gunnison National Park'

In [260]:
place_guess6['park'] = place_guess6.park.str.rstrip('Pond')

In [261]:
place_guess6['park'] = place_guess6.park.str.rstrip('Service Complex')

In [262]:
place_guess6['park'] = place_guess6.park.str.rstrip('& and Preserve')

In [263]:
place_guess6['park'] = place_guess6.park.str.strip()

In [264]:
place_guess6.park.unique()

array(['Yellowstone National Park', 'Everglades National Park',
       'Sequoia and Kings Canyon National Park',
       'Antietam Battlefield National Park', 'Death Valley National Park',
       'Grand Teton National Park', 'Mount Rainier National Park',
       'Redwood National Park', 'Channel Islands National Park',
       'Denali National Park', 'Grand Canyon National Park',
       'Yosemite National Park', 'Rocky Mountain National Park', 'N',
       'Cuyahoga Valley National Park', 'Olympic National Park',
       'North Cascades National Park', 'Glacier National Park',
       'Theodore Roosevelt National Park', 'Glacier Bay National Park',
       'Shenandoah National Park', 'Badlands National Park',
       'Big Bend National Park', 'Bryce Canyon National Park',
       'Kenai Fjords National Park', 'Joshua Tree National Park',
       'Wind Cave National Park', 'Katmai National Park',
       'Saguaro National Park', 'Pinnacles National Park',
       'Great Smoky Mountains National Park', 'Acadia National Park',
       'Zion National Park', 'Petrified Forest National Park',
       'Arches National Park', 'Canyonlands National Park',
       'Hawaii Volcanoes National Park', 'Crater Lake National Park',
       'Wrangell-St. Elias National Park', 'Mesa Verde National Park',
       'Gates of the Arctic National Park', 'Biscayne National Park',
       'Piscataway National Park', 'Lassen Volcanic National Park',
       'Hot Springs National Park', 'Great Basin National Park',
       'Isle Royale National Park',
       'Black Canyon of the Gunnison National Park',
       'Wolf Trap Farm Park National Park', 'Mammoth Cave National Park',
       'Virgin Islands National Park', 'Congaree National Park',
       'Guadalupe Mountains National Park', 'Capitol Reef National Park',
       'Carlsbad Caverns National Park', 'Great Sand Dunes National Park',
       'Wolf Trap National Park for the Performing Art',
       'Voyageurs National Park', 'Lake Clark National Park',
       'Indiana Dunes National Park', 'Tierra del Fuego National Park',
       'Haleakala National Park', 'Kobuk Valley National Park',
       'National Park', 'US National Park R', 'White Sands National Park',
       'Jaime Benitez National Park', 'Butte National Park'], dtype=object)

In [265]:
problem_list = ['National Park','Jaime Benitez National Park','Wolf Trap National Park for the Performing Art','Wolf Trap Farm Park National Park',
                'Jr. National Park', 'N','No', 'US National Park R', 'Tierra del Fuego National Park', 'Piscataway National Park', 'Steptoe Butte National Park','Butte National Park', 'Antietam Battlefield National Park']

In [266]:
print(len(problem_list))

13

In [267]:
print(len(place_guess6.park.unique()))

68

In [268]:
place_guess6[place_guess6['park'] == 'No']

Empty DataFrame
Columns: [place_guess, place_state_name, c0, c1, c2, c3, c4, c5, c6, park]
Index: []

In [269]:
place_guess6[place_guess6['park'] == 'US National Park R']

,place_guess,place_state_name,c0,c1,c2,c3,c4,c5,c6,park
680,"US National Park Rd, Granby, CO, US",Colorado,US National Park Rd,Granby,CO,US,None,None,None,US National Park R

In [270]:
place_guess6[place_guess6['park'] == 'Wolf Trap National Park for the Performing Art']

,place_guess,place_state_name,c0,c1,c2,c3,c4,c5,c6,park
399,Wolf Trap National Park for the Performing Art...,Virginia,Wolf Trap National Park for the Performing Arts,Vienna,VA,US,None,None,None,Wolf Trap National Park for the Performing Art

In [271]:
place_guess7 = place_guess6
for thing in problem_list:
    place_guess7 = place_guess7.drop(place_guess7[place_guess7['park']== thing].index)

In [272]:
place_guess7.park.unique()

array(['Yellowstone National Park', 'Everglades National Park',
       'Sequoia and Kings Canyon National Park',
       'Death Valley National Park', 'Grand Teton National Park',
       'Mount Rainier National Park', 'Redwood National Park',
       'Channel Islands National Park', 'Denali National Park',
       'Grand Canyon National Park', 'Yosemite National Park',
       'Rocky Mountain National Park', 'Cuyahoga Valley National Park',
       'Olympic National Park', 'North Cascades National Park',
       'Glacier National Park', 'Theodore Roosevelt National Park',
       'Glacier Bay National Park', 'Shenandoah National Park',
       'Badlands National Park', 'Big Bend National Park',
       'Bryce Canyon National Park', 'Kenai Fjords National Park',
       'Joshua Tree National Park', 'Wind Cave National Park',
       'Katmai National Park', 'Saguaro National Park',
       'Pinnacles National Park', 'Great Smoky Mountains National Park',
       'Acadia National Park', 'Zion National Park',
       'Petrified Forest National Park', 'Arches National Park',
       'Canyonlands National Park', 'Hawaii Volcanoes National Park',
       'Crater Lake National Park', 'Wrangell-St. Elias National Park',
       'Mesa Verde National Park', 'Gates of the Arctic National Park',
       'Biscayne National Park', 'Lassen Volcanic National Park',
       'Hot Springs National Park', 'Great Basin National Park',
       'Isle Royale National Park',
       'Black Canyon of the Gunnison National Park',
       'Mammoth Cave National Park', 'Virgin Islands National Park',
       'Congaree National Park', 'Guadalupe Mountains National Park',
       'Capitol Reef National Park', 'Carlsbad Caverns National Park',
       'Great Sand Dunes National Park', 'Voyageurs National Park',
       'Lake Clark National Park', 'Indiana Dunes National Park',
       'Haleakala National Park', 'Kobuk Valley National Park',
       'White Sands National Park'], dtype=object)

In [273]:
print(len(place_guess7.park.unique()))

58

In [294]:
place_guess8 = place_guess7.drop(['c0', 'c1', 'c2', 'c3', 'c4', 'c5','c6'], axis = 1)
place_guess7.shape, place_guess8.shape

((561, 10), (561, 3))

In [295]:
#found this place_guess with 100 null observations in the merge below
#append place guess Redwood National and State Parks, Trinidad, CA, US    'Redwood' 'CA' 'Redwood National Park'
R_W = {'place_guess': 'Redwood National and State Parks, Trinidad, CA, US', 'place_state_name': 'California' , 'park': 'Redwood National Park'}
place_guess8 = place_guess8.append(R_W, ignore_index = True)

In [296]:
place_guess8.tail()

,place_guess,place_state_name,park
557,"Death Valley National Park, Nye County, US-NV, US",Nevada,Death Valley National Park
558,"El Capitan, Yosemite National Park, CA, US",California,Yosemite National Park
559,"Death Valley National Park, CA, US",California,Death Valley National Park
560,"Glacier Point, Yosemite National Park, CA, US",California,Yosemite National Park
561,"Redwood National and State Parks, Trinidad, CA...",California,Redwood National Park

In [297]:
state_abbr = pd.read_csv('states_name_abbr.csv')
state_abbr.head()

  state        name
0    AK      Alaska
1    AL     Alabama
2    AR    Arkansas
3    AZ     Arizona
4    CA  California

In [298]:
df = place_guess8.merge(state_abbr,left_on = 'place_state_name', right_on= 'name')
df.head()

,place_guess,place_state_name,park,state,name
0,"Yellowstone National Park, Park County, US-WY, US",Wyoming,Yellowstone National Park,WY,Wyoming
1,"Yellowstone National Park, US",Wyoming,Yellowstone National Park,WY,Wyoming
2,"Yellowstone National Park, US-WY, US",Wyoming,Yellowstone National Park,WY,Wyoming
3,"Grand Teton National Park, WY, US",Wyoming,Grand Teton National Park,WY,Wyoming
4,"Yellowstone National Park, WY, US",Wyoming,Yellowstone National Park,WY,Wyoming

In [299]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 555 entries, 0 to 554
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   place_guess       555 non-null    object
 1   place_state_name  555 non-null    object
 2   park              555 non-null    object
 3   state             555 non-null    object
 4   name              555 non-null    object
dtypes: object(5)
memory usage: 26.0+ KB

In [300]:
parks = pd.read_csv('parks_unique.csv', index_col = 0)
parks.head()

    ParkName State                    park
0    Acadia     ME    Acadia National Park
1    Arches     UT    Arches National Park
2  Badlands     SD  Badlands National Park
3  Big Bend     TX  Big Bend National Park
4  Biscayne     FL  Biscayne National Park

In [301]:
#place_guess7 = place_guess7.drop(place_guess7[place_guess7['park']== thing].index)
parks = parks.drop(parks[parks['park']== 'Kings Canyon National Park'].index)
parks = parks.drop(parks[parks['park']== 'Sequoia National Park'].index)
#place_guess6.loc[place_guess6['park'].str.contains('Great Sand Dunes National Park'), 'park'] = 'Great Sand Dunes National Park'
S_K = {'ParkName': 'Sequoia and Kings Canyon', 'State': 'CA', 'park': 'Sequoia and Kings Canyon National Park'}
parks = parks.append(S_K, ignore_index = True)
parks.tail()

                    ParkName State                                    park
56       Wrangell-St. Elias     AK        Wrangell-St. Elias National Park
57              Yellowstone     WY               Yellowstone National Park
58                 Yosemite     CA                  Yosemite National Park
59                     Zion     UT                      Zion National Park
60  Sequoia and Kings Canyon    CA  Sequoia and Kings Canyon National Park

In [302]:
#Need to fix the Kings Canyon and Sequoia National park
#parks.loc[parks['ParkName'].str.contains('Denali'), 'park'] = 'Denali National Park'
#parks.loc[parks['ParkName'].str.contains('Great Sand Dunes'), 'park'] = 'Great Sand Dunes National Park' 
#parks.loc[parks['ParkName'].str.contains('Kenai')]
parks.loc[parks['ParkName'].str.contains('Redwood')]

    ParkName State                   park
47  Redwood     CA  Redwood National Park

In [303]:
df2= pd.merge(df, parks, on = 'park', how = 'left')
df2.head()

,place_guess,place_state_name,park,state,name,ParkName,State
0,"Yellowstone National Park, Park County, US-WY, US",Wyoming,Yellowstone National Park,WY,Wyoming,Yellowstone,WY
1,"Yellowstone National Park, US",Wyoming,Yellowstone National Park,WY,Wyoming,Yellowstone,WY
2,"Yellowstone National Park, US-WY, US",Wyoming,Yellowstone National Park,WY,Wyoming,Yellowstone,WY
3,"Grand Teton National Park, WY, US",Wyoming,Grand Teton National Park,WY,Wyoming,Grand Teton,WY
4,"Yellowstone National Park, WY, US",Wyoming,Yellowstone National Park,WY,Wyoming,Yellowstone,WY

In [304]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 555 entries, 0 to 554
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   place_guess       555 non-null    object
 1   place_state_name  555 non-null    object
 2   park              555 non-null    object
 3   state             555 non-null    object
 4   name              555 non-null    object
 5   ParkName          555 non-null    object
 6   State             555 non-null    object
dtypes: object(7)
memory usage: 34.7+ KB

In [305]:
# Done here
nul_df = df2[df2.ParkName.isnull()]
nul_df.park.value_counts()

Series([], Name: park, dtype: int64)

In [306]:
#Done checking this
nul_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   place_guess       0 non-null      object
 1   place_state_name  0 non-null      object
 2   park              0 non-null      object
 3   state             0 non-null      object
 4   name              0 non-null      object
 5   ParkName          0 non-null      object
 6   State             0 non-null      object
dtypes: object(7)
memory usage: 0.0+ bytes

In [307]:
df_merge = pd.merge(observation, df2, on=['place_guess', 'place_state_name'], how = 'left')
df_merge.head()

,observed_on,place_guess,latitude,longitude,place_county_name,place_state_name,place_country_name,scientific_name,common_name,iconic_taxon_name,park,state,name,ParkName,State
0,2008-08-08,"Yellowstone National Park, Park County, US-WY, US",44.811585,-110.481333,Park,Wyoming,United States,Bison bison,American Bison,Mammalia,Yellowstone National Park,WY,Wyoming,Yellowstone,WY
1,2009-05-14,"Everglades National Park, Monroe County, US-FL...",25.153938,-80.851790,Monroe,Florida,United States,Trichechus manatus,West Indian Manatee,Mammalia,Everglades National Park,FL,Florida,Everglades,FL
2,2009-06-08,"Kings Canyon/Sequoia National Park, NV, US",36.489655,-118.779289,Tulare,California,United States,Odocoileus hemionus californicus,California Mule Deer,Mammalia,Sequoia and Kings Canyon National Park,CA,California,Sequoia and Kings Canyon,CA
3,2009-06-08,"Kings Canyon/Sequoia National Park, NV, US",36.520012,-118.795425,Tulare,California,United States,Otospermophilus beecheyi,California Ground Squirrel,Mammalia,Sequoia and Kings Canyon National Park,CA,California,Sequoia and Kings Canyon,CA
4,2010-04-11,"Kings Canyon/Sequoia National Park, NV, US",36.524426,-118.751480,Tulare,California,United States,Otospermophilus beecheyi,California Ground Squirrel,Mammalia,Sequoia and Kings Canyon National Park,CA,California,Sequoia and Kings Canyon,CA

In [308]:
#I think I need to get rid of the problem list observations to get rid of the 1000 entry discrepency
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16583 entries, 0 to 16582
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   observed_on         16583 non-null  datetime64[ns]
 1   place_guess         16583 non-null  object
 2   latitude            16582 non-null  float64
 3   longitude           16582 non-null  float64
 4   place_county_name   16552 non-null  object
 5   place_state_name    16579 non-null  object
 6   place_country_name  16567 non-null  object
 7   scientific_name     16583 non-null  object
 8   common_name         16564 non-null  object
 9   iconic_taxon_name   16583 non-null  object
 10  park                15874 non-null  object
 11  state               15874 non-null  object
 12  name                15874 non-null  object
 13  ParkName            15874 non-null  object
 14  State               15874 non-null  object
dtypes: datetime64[ns](1), float64(2), object(12)
memory usage: 2.0+ MB

In [309]:
nul_df2 = df_merge[df_merge.park.isnull()]
nul_df2.place_guess.value_counts()

Targhee National Forest, Island Park, ID, US                                                       32
Santa Monica Mountains National Recreation Area, Newbury Park, CA, US                              24
Marsh-Billings-Rockefeller National Historical Park, Woodstock, VT, US                             24
San Pedro Valley County Park, San Mateo County, Golden Gate National Recreation Area, US-CA, US    20
Chesapeake and Ohio Canal National Historic Park, Washington, DC, US                               20
                                                                                                   ..
Keweenaw National Historical Park, Houghton County, US-MI, US                                       1
Wolf Trap Farm Park National Park, Fairfax County, US-VA, US                                        1
Chickamauga and Chattanooga National Military Park, Walker County, US-GA, US                        1
Chesapeake & Ohio Canal National Historical Park, Washington, DC, US                                1
Mussel Rock Park, San Mateo County, Golden Gate National Recreation Area, US-CA, US                 1
Name: place_guess, Length: 181, dtype: int64

In [312]:
#probably don't need any of the observations with unknown NP labels above so I am dropping them
df_merge2 = df_merge.drop(df_merge[df_merge.park.isnull()].index, axis = 0)
df_merge2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15874 entries, 0 to 16582
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   observed_on         15874 non-null  datetime64[ns]
 1   place_guess         15874 non-null  object
 2   latitude            15874 non-null  float64
 3   longitude           15874 non-null  float64
 4   place_county_name   15874 non-null  object
 5   place_state_name    15874 non-null  object
 6   place_country_name  15874 non-null  object
 7   scientific_name     15874 non-null  object
 8   common_name         15855 non-null  object
 9   iconic_taxon_name   15874 non-null  object
 10  park                15874 non-null  object
 11  state               15874 non-null  object
 12  name                15874 non-null  object
 13  ParkName            15874 non-null  object
 14  State               15874 non-null  object
dtypes: datetime64[ns](1), float64(2), object(12)
memory usage: 1.9+ MB

In [313]:
df_merge2.head()

,observed_on,place_guess,latitude,longitude,place_county_name,place_state_name,place_country_name,scientific_name,common_name,iconic_taxon_name,park,state,name,ParkName,State
0,2008-08-08,"Yellowstone National Park, Park County, US-WY, US",44.811585,-110.481333,Park,Wyoming,United States,Bison bison,American Bison,Mammalia,Yellowstone National Park,WY,Wyoming,Yellowstone,WY
1,2009-05-14,"Everglades National Park, Monroe County, US-FL...",25.153938,-80.851790,Monroe,Florida,United States,Trichechus manatus,West Indian Manatee,Mammalia,Everglades National Park,FL,Florida,Everglades,FL
2,2009-06-08,"Kings Canyon/Sequoia National Park, NV, US",36.489655,-118.779289,Tulare,California,United States,Odocoileus hemionus californicus,California Mule Deer,Mammalia,Sequoia and Kings Canyon National Park,CA,California,Sequoia and Kings Canyon,CA
3,2009-06-08,"Kings Canyon/Sequoia National Park, NV, US",36.520012,-118.795425,Tulare,California,United States,Otospermophilus beecheyi,California Ground Squirrel,Mammalia,Sequoia and Kings Canyon National Park,CA,California,Sequoia and Kings Canyon,CA
4,2010-04-11,"Kings Canyon/Sequoia National Park, NV, US",36.524426,-118.751480,Tulare,California,United States,Otospermophilus beecheyi,California Ground Squirrel,Mammalia,Sequoia and Kings Canyon National Park,CA,California,Sequoia and Kings Canyon,CA

In [314]:
df_merge2 = df_merge2.drop(['place_county_name', 'place_country_name', 'name', 'State'], axis = 1)
df_merge2.head()

,observed_on,place_guess,latitude,longitude,place_state_name,scientific_name,common_name,iconic_taxon_name,park,state,ParkName
0,2008-08-08,"Yellowstone National Park, Park County, US-WY, US",44.811585,-110.481333,Wyoming,Bison bison,American Bison,Mammalia,Yellowstone National Park,WY,Yellowstone
1,2009-05-14,"Everglades National Park, Monroe County, US-FL...",25.153938,-80.851790,Florida,Trichechus manatus,West Indian Manatee,Mammalia,Everglades National Park,FL,Everglades
2,2009-06-08,"Kings Canyon/Sequoia National Park, NV, US",36.489655,-118.779289,California,Odocoileus hemionus californicus,California Mule Deer,Mammalia,Sequoia and Kings Canyon National Park,CA,Sequoia and Kings Canyon
3,2009-06-08,"Kings Canyon/Sequoia National Park, NV, US",36.520012,-118.795425,California,Otospermophilus beecheyi,California Ground Squirrel,Mammalia,Sequoia and Kings Canyon National Park,CA,Sequoia and Kings Canyon
4,2010-04-11,"Kings Canyon/Sequoia National Park, NV, US",36.524426,-118.751480,California,Otospermophilus beecheyi,California Ground Squirrel,Mammalia,Sequoia and Kings Canyon National Park,CA,Sequoia and Kings Canyon

Groupby? month by park maybe aggregate or resample..
below from datacamp combines groupby with resample
# Group rides by member type, and resample to the month
grouped = rides.groupby('Member type')\
  .resample('M', 'Start date')

# Print the median duration for each group
print(grouped['Duration'].median())

might need to aggregate with different methods no. obs, no. diff kinds, 
need to see obs per park to see if this data is workable for all parks
need to see obs per year to see which years this data will work - bar graph

Everthing below this is from previous attempts I am saving it because I might want to come back to the bits of code

In [43]:
#this is from stackoverflow I'm not understanding how to make it work
#df1[ df1['movie'].apply(lambda title: df2['FILM'].str.contains(title)).any(1) ]
#parks[parks['park'].apply(lambda park: observation['place_guess'].str.contains('park')).any(1) ]

In [288]:
observation.shape

(16583, 10)

In [44]:
#this is not working and it takes forever. there has to be a better way .contains()? list comprehension?
#from fuzzywuzzy import process
#for park in parks['park']:
#    matches = process.extract(park, observation['place_guess'], limit = observation.shape[0])
#    for potential_match in matches:
#        if potential_match[1] >= 80:
#            observation.loc[observation['place_guess'] == potential_match[0], 'place_guess'] = park

1.) kings canyon and sequoia national park are adjacent, replace values with both afterward? this needs to be investigated more
2.) goal here is to groupby park, year/month, species. Could also do groupby park and total, species
3.) see bears 1 or 0, see bison 1 or 0. probably should do a threshold for no. of observations. this could be very wide with many species or I could do just a few charismatic megafauna

In [ ]:
#kings canyon and sequoia national park are adjacent, replace values with both afterward? this needs to be investigated more